.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.github
.husky
vsc-extension-quickstart.md
esbuild.js
node_modules
!node_modules/node-adlt
!node_modules/@vscode/codicons/dist
!node_modules@vscode-elements/elements/dist
!node_modules/moment/min
!node_modules/chart.js/dist
!node_modules/chartjs-adapter-moment/dist
!node_modules/chartjs-plugin-zoom/dist
!node_modules/chartjs-plugin-annotation/dist
!node_modules/hw-chartjs-plugin-colorschemes/dist
!node_modules/hammerjs
!node_modules/timelines-chart/dist
!node_modules/w3-css
tsconfig_test.json
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts
images/**
docs/**
.wdio-vscode-service/**
test/**
# ignore all webview files except the build directory
webviews/search/src/**
webviews/search/public/**
webviews/search/index.html
webviews/search/README.md
webviews/search/package.json
webviews/search/package-lock.json
webviews/search/node_modules/**

