name: Semantic Release and Publish
on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      NEXTVERSION: ${{ steps.relver.outputs.nextVer }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Commitlint
        uses: wagoid/commitlint-github-action@v3
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install dependencies
        run: npm ci
      - name: Release
        id: relver
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VSCE_PAT: ${{ secrets.VSCE_TOKEN }}
        run: npx semantic-release --debug
      - name: print next version
        run: echo NEXTVERSION= ${{ steps.relver.outputs.nextVer }}
      - name: next version is valid
        run: echo valid=${{ startsWith(steps.relver.outputs.nextVer, 'v') }}
      #- name: Get new tag name
      #  id: get-latest-tag
      #  if: success()
      #  uses: actions-ecosystem/action-get-latest-tag@v1
      #  with:
      #    semver_only: true
  
  buildAndDeploy:
    #runs-on: ubuntu-latest
    needs: release
    if: "startsWith(needs.release.outputs.NEXTVERSION, 'v')"
    #steps:
      #- run: echo NEXTVERSION= ${{ needs.release.outputs.NEXTVERSION }}
      #- run: echo valid=${{ startsWith(needs.release.outputs.NEXTVERSION, 'v') }}
    uses: ./.github/workflows/build_tag.yml
    with:
      tagname: ${{ needs.release.outputs.NEXTVERSION }}

